@import 'tailwindcss';

@source '../**/*.js';
@source '../**/*.ts';
@source '../**/*.vue';

@theme {
  --font-inter: 'Inter', system-ui, sans-serif;
};

@layer base {
  html, body {
    @apply font-inter text-neutral-900 text-[14px];
  }

  button:not(:disabled),
  input[type="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  button:disabled,
  input[type="button"]:disabled {
    @apply cursor-not-allowed pointer-events-none;
  }
}
